<%= form_with model: @todo, id: dom_id(@todo) do |f| %>
  <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
    <div class="sm:col-span-3">
      <%= f.label :description, class: "block text-sm font-medium leading-5 text-gray-700" %>

      <div class="mt-1 rounded-md shadow-sm">
        <%= f.text_field :description,
                         placeholder: 'Your description',
                         class: class_names("mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50", 'border-red-300 text-red-900 placeholder-red-300 focus:border-red-300 focus:shadow-outline-red': f.object.errors[:description].present?) %>
      </div>

      <p class="mt-2 text-sm text-red-600">
        <%= f.object.errors.full_messages_for(:description).first %>
      </p>
    </div>
  </div>

  <div class="relative flex items-start mt-6">
    <div class="flex items-center h-5">
      <%= f.check_box :completed, class: "rounded border-gray-300 text-blue-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-offset-0 focus:ring-blue-200 focus:ring-opacity-50" %>
    </div>

    <div class="ml-3 text-sm leading-5">
      <%= f.label :completed, class: "font-medium text-gray-700" %>
    </div>
  </div>

  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <%= link_to 'Back', todos_path, class: "py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" %>
      </span>

      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <%= f.submit 'Save', class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out" %>
      </span>
    </div>
  </div>
<% end %>
