<div class="mt-4 pt-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Editing Todo
  </h3>
</div>

<%= render 'todos/form' %>

<h3 class="text-lg leading-6 font-medium text-gray-900 mt-12 mb-4">
  Comments <%= badge_tag(value: @todo.comments.count, variant: :info, id: 'comments_count') %>
</h3>

<%= render 'comments/form', comment: Comment.new(todo: @todo) %>

<%= turbo_frame_tag "comments", src: comments_path(todo_id: @todo.id), loading: 'lazy' do %>
  <%= loading_tag %>
<% end %>
